<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Email</mat-label>
      <mat-icon
        matPrefix
        color="primary"
        style="vertical-align: middle; margin-right: 5px"
        >person</mat-icon
      >
      <input
        formControlName="email" type="text" matInput required
      />
      <mat-error *ngIf="formLogin.get('email').hasError('required')">
        Inserisci una email Valida
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Password</mat-label>
      <mat-icon
        matPrefix
        color="primary"
        style="vertical-align: bottom; margin-right: 5px"
        >lock</mat-icon
      >
      <input
        formControlName="password"
        matInput
        required
        [type]="isPasswordVisible ? 'text' : 'password'"
      />
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="toggleVisibility()"
      >
        <mat-icon *ngIf="isPasswordVisible">visibility</mat-icon>
        <mat-icon *ngIf="!isPasswordVisible">visibility_off</mat-icon>
      </button>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="btn-submit"
      [disabled]="disabled"
    >
      Accedi
    </button>
  </form>
  
  <div class="status-box" [ngSwitch]="status">
    <mat-spinner *ngSwitchCase="'pending'" [diameter]="20"></mat-spinner>
    <div *ngSwitchCase="'error'" class="status error">{{message}}</div>
    <div *ngSwitchCase="'success'" class="status success">{{message}}</div>
  </div>
