<form [formGroup]="registrationForm" (ngSubmit)="submit()">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="text" matInput />
      <mat-error *ngIf="registrationForm.get('email').hasError('email')">
        <strong>Email</strong> non valida.
      </mat-error>
      <mat-error *ngIf="registrationForm.get('email').hasError('required')">
        <strong>Email</strong> richiesta.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Password</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="isPasswordVisible ? 'text' : 'password'"
      />
      <mat-error><strong>Password</strong> è richiesta.</mat-error>
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="toggleVisibility()"
        tabindex="-1"
      >
        <mat-icon *ngIf="isPasswordVisible">visibility</mat-icon>
        <mat-icon *ngIf="!isPasswordVisible">visibility_off</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Ripeti Password</mat-label>
      <input
        formControlName="passwordRepeat"
        matInput
        [type]="isPasswordVisible ? 'text' : 'password'"
        [errorStateMatcher]="matcher"
      />
      <mat-error
        *ngIf="
          registrationForm.get('passwordRepeat').hasError('required') &&
          !registrationForm.hasError('equalFields')
        "
      >
       La <strong>Password</strong> è obbligatoria.
      </mat-error>
      <mat-error *ngIf="registrationForm.hasError('equalFields')">
       Le <strong>Password</strong> non corrispondono.
      </mat-error>
      <button
        type="button"
        mat-icon-button
        matSuffix
        (click)="toggleVisibility()"
        tabindex="-1"
      >
        <mat-icon *ngIf="isPasswordVisible">visibility</mat-icon>
        <mat-icon *ngIf="!isPasswordVisible">visibility_off</mat-icon>
      </button>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="btn-submit"
      [disabled]="disabled"
    >
      Registrati
    </button>
    <mat-label>Registrandoti accetti le condizioni descritte in < Privacypoly > e le condizioni del gioco</mat-label>
  </form>
  <div class="status-box" [ngSwitch]="status">
    <mat-spinner *ngSwitchCase="'pending'" [diameter]="20"></mat-spinner>
    <div *ngSwitchCase="'error'" class="status error">{{message}}</div>
    <div *ngSwitchCase="'success'" class="status success">{{message}}</div>
  </div>