
<h4 mat-dialog-title>Carica File Calendario</h4>

<form [formGroup]="floadCSV" (ngSubmit)="save()" >
    <input #csvInput hidden="true" type="file" 
    onclick="this.value=null" (change)="csvInputChange($event)" accept=".txt"/>
<button mat-flat-button color="primary" type="button" 
    (click)="csvInput.click()">Seleziona un file da caricare (TXT)</button>   


    <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Inserisci i giocatori da inserire</mat-label>
        <textarea matInput formControlName="listElement" type="text" cols="18" rows="25"
        [(ngModel)]="fileContent" ></textarea>
    </mat-form-field>


    <button mat-raised-button color="primary" [disabled]="floadCSV.invalid">Salva</button>


</form>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>Chiudi</button>
</mat-dialog-actions>

<div class="status-box" [ngSwitch]="status">
    <mat-spinner *ngSwitchCase="'pending'" [diameter]="20"></mat-spinner>
    <div *ngSwitchCase="'error'" class="status error">{{messageUpload}}</div>
    <div *ngSwitchCase="'success'" class="status success">{{messageUpload}}</div>
  </div>